#unitslegend td {
color:#669;
padding:9px 8px 0;
}
#unitslegend,#hor-minimalist-b {
font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size:12px;
background:#fff;
width:480px;
border-collapse:collapse;
text-align:left;
margin:20px;
}

#unitslegend th,#hor-minimalist-b th {
font-size:14px;
font-weight:400;
color:#039;
border-bottom:2px solid #6678b1;
padding:10px 8px;
}

#unitslegend tbody tr:hover td,#hor-minimalist-b tbody tr:hover td {
color:#009;
}
